@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */
/**
 * Solarized colors by Ethan Schoonover
 */
html.solarized * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
.solarized body {
  background: #fdf6e3;
  background-color: #fdf6e3; }

.solarized .reveal {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #657b83; }

.solarized ::selection {
  color: #fff;
  background: #d33682;
  text-shadow: none; }

.solarized .reveal .slides > section, .solarized .reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.solarized .reveal h1, .solarized .reveal h2, .solarized .reveal h3, .solarized .reveal h4, .solarized .reveal h5, .solarized .reveal h6 {
  margin: 0 0 20px 0;
  color: #586e75;
  font-family: 'League Gothic', Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.solarized .reveal h1 {
  font-size: 3.77em; }

.solarized .reveal h2 {
  font-size: 2.11em; }

.solarized .reveal h3 {
  font-size: 1.55em; }

.solarized .reveal h4 {
  font-size: 1em; }

.solarized .reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.solarized .reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.solarized .reveal img, .solarized .reveal video, .solarized .reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.solarized .reveal strong, .solarized .reveal b {
  font-weight: bold; }

.solarized .reveal em {
  font-style: italic; }

.solarized .reveal ol, .solarized .reveal dl, .solarized .reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.solarized .reveal ol {
  list-style-type: decimal; }

.solarized .reveal ul {
  list-style-type: disc; }

.solarized .reveal ul ul {
  list-style-type: square; }

.solarized .reveal ul ul ul {
  list-style-type: circle; }

.solarized .reveal ul ul, .solarized .reveal ul ol, .solarized .reveal ol ol, .solarized .reveal ol ul {
  display: block;
  margin-left: 40px; }

.solarized .reveal dt {
  font-weight: bold; }

.solarized .reveal dd {
  margin-left: 40px; }

.solarized .reveal q, .solarized .reveal blockquote {
  quotes: none; }

.solarized .reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.solarized .reveal blockquote p:first-child, .solarized .reveal blockquote p:last-child {
  display: inline-block; }

.solarized .reveal q {
  font-style: italic; }

.solarized .reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.solarized .reveal code {
  font-family: monospace; }

.solarized .reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  background: #3F3F3F;
  color: #DCDCDC; }

.solarized .reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.solarized .reveal table th {
  font-weight: bold; }

.solarized .reveal table th, .solarized .reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.solarized .reveal table tr:last-child td {
  border-bottom: none; }

.solarized .reveal sup {
  vertical-align: super; }

.solarized .reveal sub {
  vertical-align: sub; }

.solarized .reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.solarized .reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.solarized .reveal a {
  color: #268bd2;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.solarized .reveal a:hover {
  color: #78bae6;
  text-shadow: none;
  border: none; }

.solarized .reveal .roll span:after {
  color: #fff;
  background: #1a6291; }

/*********************************************
 * IMAGES
 *********************************************/
.solarized .reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #657b83;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.solarized .reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }

.solarized .reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.solarized .reveal .controls div.navigate-left, .solarized .reveal .controls div.navigate-left.enabled {
  border-right-color: #268bd2; }

.solarized .reveal .controls div.navigate-right, .solarized .reveal .controls div.navigate-right.enabled {
  border-left-color: #268bd2; }

.solarized .reveal .controls div.navigate-up, .solarized .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #268bd2; }

.solarized .reveal .controls div.navigate-down, .solarized .reveal .controls div.navigate-down.enabled {
  border-top-color: #268bd2; }

.solarized .reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #78bae6; }

.solarized .reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #78bae6; }

.solarized .reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #78bae6; }

.solarized .reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #78bae6; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.solarized .reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.solarized .reveal .progress span {
  background: #268bd2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.solarized .reveal .slide-number {
  color: #268bd2; }
